<header>
	<h1 style="text-align: center;">Expense Manager</h1>
</header>
<div class="bottom-container sign-up-container">
<mat-card  class="item-add-mat-card" *ngIf="signupSuccess==0">
	<mat-card-header>
		<mat-card-title><strong>Sign Up</strong></mat-card-title>
	</mat-card-header>
	<form class="signup-form" [formGroup]="form">
	<mat-form-field class="text-full-width">
	    <input matInput placeholder="Name" value="" formControlName="name">
	    <mat-error *ngIf="form.get('name').invalid && ( form.get('name').dirty)">Please provide name</mat-error>
	</mat-form-field>

	<mat-form-field class="text-full-width">
		<span matPrefix>+91 &nbsp;</span>
	    <input type="tel" matInput placeholder="Phone No" value="" formControlName="phoneno">
	    <mat-error *ngIf="form.get('phoneno').invalid && ( form.get('phoneno').dirty)">Please provide phone no</mat-error>
	</mat-form-field>
	<mat-error *ngIf="pherror">{{ pherror }}</mat-error>
	<mat-form-field class="text-full-width">
	    <input type="password" matInput placeholder="Password" value="" formControlName="password">
	    <mat-error *ngIf="form.get('password').invalid && ( form.get('password').dirty)">Please provide password</mat-error>
	</mat-form-field>
	<mat-card-actions style="text-align: right;">
		<a href="#/" >Existing User?</a>
		<button mat-raised-button color="primary"  (click)="save()" [disabled]="form.invalid">Signup</button>
	</mat-card-actions>
	</form>
</mat-card>
<mat-card  class="item-add-mat-card text-center" *ngIf="signupSuccess==1">
	Welmcome {{ form.get('name').value }} to expense Manager.
	<br/>
	<a href="#/login">Click Here</a> to login
</mat-card>
</div>