<header>
	<div class="left-float"><a href="#/home" mat-mini-fab color="primary">&#10094;</a>  {{groupDetails['name']}}</div>
	
	<div class="right-float"><a class="menu-link" [matMenuTriggerFor]="menu"></a>
				<mat-menu #menu="matMenu" class="table-menu">
				  <a mat-menu-item (click)="openAddMemberDialog()">Add Member</a>
				  <a mat-menu-item href="#/statistics?id={{groupDetails['id']}}">Statistics</a>
				  <a *ngIf="adminUser && (adminUser['id'] == authUser['id'])" mat-menu-item (click)="openDeleteDialog()">Delete</a>
				</mat-menu></div>
	<div class="clearfix"></div>
</header>
<div class="bottom-container" *ngIf="groupDetails">
	<br/>
	<mat-card>
		<table class="table" cellspacing="0">
			<tr>
				<td *ngIf="createdUser">
					<strong>Created By :</strong> <label>{{ createdUser['name'] }}</label>
				</td>
				<td *ngIf="adminUser">
					<strong>Admin User :</strong> <label>{{ adminUser['name'] }}</label>
				</td>
			</tr>
			<tr>
				<td *ngIf="groupDetails['startdate']">
					<strong>Started On :</strong> <label>{{ groupDetails['startdate'] | date }}</label>
				</td>
				<td *ngIf="groupDetails['createdOn']">
					<strong>Created On :</strong> <label>{{ groupDetails['createdOn'] | date }}</label>
				</td>
			</tr>
			<tr>
				<td *ngIf="groupDetails['totalAmount']">
					<strong>Total :</strong> <label>&#8377; {{ groupDetails['totalAmount'] | number }}</label>
				</td>
				<td align="center">
					<a href="#/expensehistory?id={{ groupDetails['id'] }}" mat-button><strong>&#10093;</strong></a>
				</td>
			</tr>
			
		</table>
	</mat-card>
	<br/>
	<mat-card>
		<table class="table" cellspacing="0">
			<tr *ngFor="let i of groupDetails.members; let index = index"  >
				<td><span class="name-icon {{ i.name | slice : 0 :1  }}-icon">{{ i.name | slice : 0 :1  }}</span></td>
				<td>{{ i.name }} <span class="admin-span" *ngIf="i.admin==1">admin</span></td>
				<td>
					<div><label>Deposit : </label> &#8377; {{ i.deposit  }}</div>
					<div><label>Pay : </label> &#8377; {{ i.paidBy }}</div>
					<div><label>Pay Share: </label> &#8377; {{ i.paidFor }}</div>
					<div><label>Balance : </label><span [ngClass]="{ 'red-text':i.balance < 0 ,'green-text': i.balance > 0 }">&#8377; {{ i.balance  }}</span></div>
				</td>
				<td>
					<a class="menu-link" [matMenuTriggerFor]="menu"></a>
					<mat-menu #menu="matMenu" class="table-menu">
					  <a mat-menu-item *ngIf="i.admin !=1 && authUser.id == adminUser.id" (click)="openDepositPopup(i, groupDetails)">Deposit</a>
					  <a mat-menu-item href="#/pay?gId={{ groupDetails.id }}&pbyid={{i.id}}">Pay</a>

					  <a mat-menu-item *ngIf="adminUser && (adminUser['id'] == authUser['id'])" (click)="deleteUser(i.id)">Delete</a>
					</mat-menu>
				</td>
			</tr>
		</table>
	</mat-card>
</div>

