<header>
	<div class="left-float"><a href="#/home" mat-mini-fab color="primary">&#10094;</a> Change Password</div>
	
	<div class="clearfix"></div>
</header>
<div class="bottom-container login-container">
	<div class="note note-success text-center" *ngIf="successMessage"> {{successMessage}}
	</div>
	<mat-card>
		<mat-form-field class="text-full-width">
		    <input matInput type="password" placeholder="New Password" value=""  [(ngModel)]="newPassword">
		</mat-form-field>
		<mat-card-actions style="text-align: right;">
			<button mat-raised-button color="primary"  (click)="save()" [disabled]="!newPassword">Save</button>
		</mat-card-actions>
	</mat-card>
</div>