<header>
	<h1 style="text-align: center;">Expense Manager</h1>
</header>
<div class="bottom-container login-container">
<mat-card  class="item-add-mat-card" >

	<mat-card-header>
		<mat-card-title><strong>Sign In</strong></mat-card-title>
	</mat-card-header>
	<form class="signup-form" [formGroup]="form">
	<div class="note note-danger" *ngIf="errorMessage">{{errorMessage}}</div>
	<mat-form-field class="text-full-width">
		<span matPrefix>+91 &nbsp;</span>
	    <input matInput placeholder="Phone No" value="" formControlName="phoneno">
	    <mat-error *ngIf="form.get('phoneno').invalid && ( form.get('phoneno').dirty)">Please provide Phone no</mat-error>
	</mat-form-field>
	<mat-form-field class="text-full-width">
	    <input type="password" matInput placeholder="Password" value="" formControlName="password">
	    <mat-error *ngIf="form.get('password').invalid && ( form.get('password').dirty)">Please provide password</mat-error>
	</mat-form-field>
	<mat-card-actions style="text-align: right;">
		<a href="#/signup" >New User?</a>
		<button mat-raised-button color="primary"  (click)="save()" [disabled]="form.invalid">Signin</button>
	</mat-card-actions>
	</form>
</mat-card>
</div>