/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    font-size: 12px;
    font-family: arial;
    margin: 0;
}
.clearfix{
	clear: both;
}
.text-full-width, .button-full-width {
  width: 100%;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.table {
	width: 100%;
}
table.table tr td {
	border-bottom: 1px solid #CCC; 
	line-height: 40px;
}
table.table tr:last-of-type td {
	border-bottom: none; 
}
.table div {
    line-height: 25px;
}
header {
    padding: 5px 10px;
    line-height: 36px;
    font-family: arial;
    background: #3f51b5;
    color: #FFF;
}
.note {
    padding: 5px;
    line-height: 35px;
}
.note.note-danger {
    background: #dd9fa0;
    border: 1px solid #bf4a4a;
    border-radius: 3px;
    color: #9e4547;
    font-size: 14px;
}
.error {
	font-style: normal;
	color: red;
	font-size: 12px;
}
.admin-span {
    background: #3f51b5;
    color: #FFF;
    padding: 3px;
    border-radius: 4px;
    font-size: 10px;
}
span.name-icon {
    width: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    background: #3f51b5;
    color: #FFF;
    font-weight: bold;
    display: inline-block;
}
span.name-icon.A-icon { background: #e48018 }
span.name-icon.B-icon { background: #116c75 }
span.name-icon.C-icon { background: #8a36b5 }
span.name-icon.D-icon { background: #cc1c85 }
span.name-icon.E-icon { background: #ff0d0d }
span.name-icon.F-icon { background: #060f82 }
span.name-icon.G-icon { background: #6db399 }
span.name-icon.H-icon { background: #aba739 }
span.name-icon.I-icon { background: #da875f }
span.name-icon.J-icon { background: #226760 }
span.name-icon.K-icon { background: #000000 }
span.name-icon.L-icon { background: #d48e8e }
span.name-icon.M-icon { background: #b4b2da }
span.name-icon.N-icon { background: #ac29b5 }
span.name-icon.O-icon { background: #09631c }
span.name-icon.P-icon { background: #86af6d }
span.name-icon.Q-icon { background: #a25fa0 }
span.name-icon.R-icon { background: #a51141 }
span.name-icon.S-icon { background: #3b747d }
span.name-icon.T-icon { background: #209239 }
span.name-icon.U-icon { background: #b19612 }
span.name-icon.V-icon { background: #15d4ff }
span.name-icon.W-icon { background: #978aad }
span.name-icon.X-icon { background: #ab041b }
span.name-icon.Y-icon { background: #9db76b }
span.name-icon.Z-icon { background: #b53f4a }

a {
    font-size: 12px;
    color: #006dfd;
}
.left-float{
    float: left;
}
.right-float{
    float: right;
}
.menu-link{
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
    font-size: 25px;
}
.menu-link::after {
    content: '\2807';
}
.table .menu-link {
    font-size: 12px;
    color: #222;
}
.mat-menu-item{
    font-size: 12px !important;
    line-height: 25px !important;
    height: 25px !important;
}
.red-text{
    color: #e05959;
}
.green-text {
    color: #47af33;
}
.frm-error-em{
    position: absolute;
    bottom: -17px;
    color: #ea1616;
    font-size: 12px;
}
.bottom-container {
    margin: 0 10px;
}
.login-container {
    margin: 27% 5% 0 5%;   
}
.sign-up-container {
    margin: 27% 5% 0 5%;      
}